.flipcard {
  &__widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 37.5rem;
  }

  // Fix for jumping Footer nav
  &__inner {
    overflow: hidden;
  }

  &__item {
    border: 0;
    color: @item-color-inverted;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    @media all and (max-width: @device-width-medium) {
      // Override style attribute
      flex-basis: 100% !important;
    }

    html.size-large & {
      min-height: 20rem;

      // Spacing between side by side items
      &.flipcard__multiple {
        flex: 0 0 49%;
      }
    }

    .component.is-left&,
    .component.is-right& {
      min-height: 9.375rem;
    }

    &-face {
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 1s;
      width: 100%;

      &.flipcard__item-front .flipcard__item-frontImage {
        height: auto;
        width: 100%;
      }
    }

    &-back {
      background: @item-color;
      overflow: auto;
      padding: @item-padding;
    }

    // X transform on vertical flip
    &.vertical {
      .flipcard__item-face.flipping {
        transform: rotateX(180deg);
      }
    }

    // Y transform on horizontal flip
    &.horizontal {
      .flipcard__item-face.flipping {
        transform: rotateY(180deg);
      }
    }
  }
}
